.vbox-marco {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px; /* Espacio interno */
    -fx-margin: 10px; /* Espacio externo */
}

.hbox-marco {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 10px; /* Espacio interno */
    -fx-margin: 10px; /* Espacio externo */
}
